.vocals {
  position: relative;
}

.vocals {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    right: 15px;
    bottom: 15px;

    &__new {
      cursor: pointer;
      border: none;
      background-color: $gray;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &:hover {
        svg {
          fill: white;
        }
        background-color: black;
      }
    }
  }
}
