.container {
  width: 100%;
  // background-color: blue;
  // margin-bottom: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid blue;
}

@media screen and(min-width:768px) {
  .container {
    max-width: 625px;
    height: 100%;
    flex-direction: row;
    margin: 20px;
  }
}
