.img {
  // border: 1px solid;
  z-index: +1;
  &__char {
    width: 215px;
    height: 323px;
    border-radius: 10px;
    box-shadow: 8px 9px 10px 0px #00000040;
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    position: relative;
  }
  .img {
    margin-top: 80px;
    // top: -100px;
    // left: 10px;
    position: absolute;
    animation: img-shifting 1.2s ease forwards;
  }
}

@keyframes img-shifting {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: -100px;
    left: 10px;
  }
}
